# This is Git's per-user configuration file.
[alias]
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rr = reset --hard HEAD
    st = status
    ff = diff
[push]
	default = simple
[pull]
	ff = only
[fetch]
	prune = true
[core]
	autocrlf = input
	excludesfile = /Users/janisvepris/.gitignore_global

[user]
    name = janisvepris
    email = janisvepris@gmail.com

[core]
    editor = nvim
    sshCommand = ssh -i ~/.ssh/id_ed25519_personal
[includeIf "gitdir:~/code/"]
    path = ~/.gitconfig-work
[credential]
	helper = osxkeychain
